function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
if-goto IF_TRUE-ks2vji4p
goto IF_FALSE-3md1m3db
label IF_TRUE-ks2vji4p
push this 0
call Square.moveUp 1
pop temp 0
label IF_FALSE-3md1m3db
push this 1
push constant 2
eq
if-goto IF_TRUE-unrl71n
goto IF_FALSE-pr1zqmqg
label IF_TRUE-unrl71n
push this 0
call Square.moveDown 1
pop temp 0
label IF_FALSE-pr1zqmqg
push this 1
push constant 3
eq
if-goto IF_TRUE-5pocy1qp
goto IF_FALSE-7rmslz8i
label IF_TRUE-5pocy1qp
push this 0
call Square.moveLeft 1
pop temp 0
label IF_FALSE-7rmslz8i
push this 1
push constant 4
eq
if-goto IF_TRUE-nld24gyf
goto IF_FALSE-cwmp9xcj
label IF_TRUE-nld24gyf
push this 0
call Square.moveRight 1
pop temp 0
label IF_FALSE-cwmp9xcj
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP-rq86j62q
push local 1
not
not
if-goto WHILE_END-93ok6npk
label WHILE_EXP-eowaayq5
push local 0
push constant 0
eq
not
if-goto WHILE_END-tz13o0dw
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto WHILE_EXP-eowaayq5
label WHILE_END-tz13o0dw
push local 0
push constant 81
eq
if-goto IF_TRUE-w7smaweq
goto IF_FALSE-y1in52c8
label IF_TRUE-w7smaweq
push constant 0
not
pop local 1
label IF_FALSE-y1in52c8
push local 0
push constant 90
eq
if-goto IF_TRUE-nsqiecrh
goto IF_FALSE-xevuuapf
label IF_TRUE-nsqiecrh
push this 0
call Square.decSize 1
pop temp 0
label IF_FALSE-xevuuapf
push local 0
push constant 88
eq
if-goto IF_TRUE-wuey18fc
goto IF_FALSE-sgr3vjfc
label IF_TRUE-wuey18fc
push this 0
call Square.incSize 1
pop temp 0
label IF_FALSE-sgr3vjfc
push local 0
push constant 131
eq
if-goto IF_TRUE-haxkmugf
goto IF_FALSE-k7tk0j3b
label IF_TRUE-haxkmugf
push constant 1
pop this 1
label IF_FALSE-k7tk0j3b
push local 0
push constant 133
eq
if-goto IF_TRUE-8hm5j3ew
goto IF_FALSE-owc5rxwt
label IF_TRUE-8hm5j3ew
push constant 2
pop this 1
label IF_FALSE-owc5rxwt
push local 0
push constant 130
eq
if-goto IF_TRUE-u7wnfg2j
goto IF_FALSE-mc1aymk1
label IF_TRUE-u7wnfg2j
push constant 3
pop this 1
label IF_FALSE-mc1aymk1
push local 0
push constant 132
eq
if-goto IF_TRUE-cydb3y3i
goto IF_FALSE-kt9nsw07
label IF_TRUE-cydb3y3i
push constant 4
pop this 1
label IF_FALSE-kt9nsw07
label WHILE_EXP-d05yeq0g
push local 0
push constant 0
eq
not
not
if-goto WHILE_END-b3lcxhj3
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto WHILE_EXP-d05yeq0g
label WHILE_END-b3lcxhj3
goto WHILE_EXP-rq86j62q
label WHILE_END-93ok6npk
push constant 0
return
