function Fraction.gcd 4
push argument 0
pop pointer 0
push local 2
push constant 16
gt
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop local 1
goto IF_END0
label IF_FALSE0
push constant 0
pop local 3
label IF_END0
push constant 0
return
