function Fraction.gcd 4
push argument 0
pop pointer 0
push local 1
if-goto IF_TRUE-a45z0r36
goto IF_FALSE-ghp62vbj
label IF_TRUE-a45z0r36
push local 3
push constant 1
add
pop local 3
goto IF_END-ofbg30ac
label IF_FALSE-ghp62vbj
push local 0
push constant 1
add
pop local 0
label IF_END-ofbg30ac
push constant 0
return
