function Main.main 1
push constant 8001
push constant 16
push constant 1
neg
call Main.fillMemory 3
pop temp 0
push constant 8000
call Memory.peek 1
pop local 0
push local 0
call Main.convert 1
pop temp 0
push constant 0
return
function Main.convert 3
push constant 0
not
pop local 2
label WHILE_EXP-3x24iuu
push local 2
not
if-goto WHILE_END-ax0xmaog
push local 1
push constant 1
add
pop local 1
push local 0
call Main.nextMask 1
pop local 0
push local 1
push constant 16
gt
not
if-goto IF_TRUE-lgyjte0p
goto IF_FALSE-hz5jmatv
label IF_TRUE-lgyjte0p
push argument 0
push local 0
and
push constant 0
eq
not
if-goto IF_TRUE-84ek2m05
goto IF_FALSE-wnxb9ugn
label IF_TRUE-84ek2m05
push constant 8000
push local 1
add
push constant 1
call Memory.poke 2
pop temp 0
goto IF_END-c354xzr0
label IF_FALSE-wnxb9ugn
push constant 8000
push local 1
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_END-c354xzr0
goto IF_END-r1ehzgf7
label IF_FALSE-hz5jmatv
push constant 0
pop local 2
label IF_END-r1ehzgf7
goto WHILE_EXP-3x24iuu
label WHILE_END-ax0xmaog
push constant 0
return
function Main.nextMask 0
push argument 0
push constant 0
eq
if-goto IF_TRUE-1qrys5xm
goto IF_FALSE-onuehcas
label IF_TRUE-1qrys5xm
push constant 1
return
goto IF_END-4mquvmaz
label IF_FALSE-onuehcas
push argument 0
push constant 2
call Math.multiply 2
return
label IF_END-4mquvmaz
function Main.fillMemory 0
label WHILE_EXP-jkscuzzl
push argument 1
push constant 0
gt
not
if-goto WHILE_END-yz71klzy
push argument 0
push argument 2
call Memory.poke 2
pop temp 0
push argument 1
push constant 1
sub
pop argument 1
push argument 0
push constant 1
add
pop argument 0
goto WHILE_EXP-jkscuzzl
label WHILE_END-yz71klzy
push constant 0
return
